@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
    line-height: auto;
    background-color: #F4F4F4;
    overflow-x: hidden;
}

a:visited,a:link,a:active,a:hover{
  color: white;
} 

a,li,ul {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    font-weight: 500;
}
.loader-bg{
  display: grid;
  background-color: #030303;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-items: center;
  overflow-y: none;
}
.loader{
  position: relative;
  max-width: 100vw;
}

#Page {
  margin-top: 10vh;
  padding: 2rem;
  position: absolute;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}
#Page > p {
  font-size: 12px; 
}

#Page > ul > li {
  list-style: disc;
  color: black;
  font-size: 12px;
}
 
.Scroller {
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    padding: 1rem ;
    width: 90%;
    grid-gap: 0px;

}
.Wrapper {
    padding: 0rem;
    margin-right: 0rem;  
    display: grid;
    justify-items: center;  
    grid-gap: 0px;
    overflow: hidden;
}
.title{
    line-height: 0px;
    display: grid;
    justify-items: center;
    background-color: white;
    padding: 0.5rem;
}
.title > h3,h2 {
    font-size: 18px;
}
.title > h3 {
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 500;
}
.Button {
    background-color: #FF6D6D;
    border-radius: 5px;
    color: white;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    border: none;
    font-family: 'Poppins';
    outline: none;
    cursor: pointer;
}

.Button:active{
    background-color: rgb(51, 51, 51);
    color: white;
    outline: none !important;
}

.Button::selection{
    color: none;
    background: none;
}

/* animations */


@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
    border: none;
    height: 6px;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #40EBD1;
    border: none;
    border-radius: 100px;

  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(113, 121, 120);
    display: none;
  }
  /* Buttons */
  ::-webkit-scrollbar-button:single-button {
    background-color: none;
    color: teal;
    display: block;
    border-style: none;
    scrollbar-arrow-color: black;
  }
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: none;
    border-color: transparent transparent #555555 transparent;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #777777 transparent;
  }
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: none;
    border-color: #555555 transparent transparent transparent;
  }
  
  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
  }

 
@media (min-width: 640px){



  .Scroller {
      overflow-x: scroll;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1rem;
  }


}