#EventScroller {
    padding: 0px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-template-rows: 1fr;
    margin: 1rem;
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.EventCard {
    display: grid;
    align-items: flex-start;
    justify-items: center;
    min-width: 100vw;
    max-width: 100vw;
}

.EventCard > img {
    cursor: pointer;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
}